body{
    font-family:'Courier New', Courier, monospace;
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/6e/32/87/6e32878542a4a6b86e640204d951fbff.jpg);
    color: #174361;
}
h1,p{
    text-align: center;
    margin: 0.5em auto;
}
input{
    background-color: #d9dfe6;
    color: #05141f;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0.5rem auto; 
    width:60vh;
    display: block;
    text-align: justify;
}
select:hover, input:hover{
    background-color: azure;
    transition-duration: 300ms;
}
h6,h5{
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
}
.gender , .rating{
    display: flex;
    margin: 1em auto;
    width: 100% ;
    align-items: center;
    justify-content: center;
    border-color: #05141f;
}
select{
    width: 58vh;
    text-align: center;
    border-color: #05141f;
    color: #05141f;
    background-color: #d9dfe6;
    cursor: pointer;
}
button{
    display: flex;
    margin: 1em auto;
    width: 20vh;
    align-items: center;
    justify-content: center;
    height: 2em;
    font-size: 1em;
    color:#05141f;
    border-radius: 1px;
    box-shadow: 2px 1px ;
}
button:hover{
    background-color:#174361;
    color:#e6ebf0;
    cursor: pointer;
    transition: 300ms;
}
legend{
    font-size: small;
}
h4{
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    font-size: small;
    padding: 0.5px 1px 2px 0.5px;
}
#fieldsetRating select{
    display: flex
}
